# Turso Database Configuration
TURSO_URL=libsql://geographic-arbitrage-tonymach.aws-us-east-1.turso.io
TURSO_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NjMxNTIzOTIsImlkIjoiZGMzMjZiMGItY2RlZS00YzU4LWJkNTEtMWZiYTFmMDViMjE1IiwicmlkIjoiOGVlODQxM2ItOWVlYy00MTFjLWJhNjktOWQwOWNkODJlNmFhIn0.GLgYbi9KunMPoTCuMiR7Ce-SI7I_z_Ggwt4dJPXnYVHb2oAk697DNyUq-znMnA-htrSZesNjetUwX8CjSUw0Bw
